<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.projects.modular.api.mapper.ChucaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.projects.modular.api.entity.Chucao">
        <id column="id" property="id" />
        <result column="gid" property="gid" />
        <result column="time" property="time" />
        <result column="descriton" property="descriton" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", gid AS "gid", time AS "time", descriton AS "descriton", user_id AS "userId", create_time AS "createTime"
    </sql>

</mapper>
